<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Gestion des activites bancaires"/>
    <meta name="author" content="mballoSoft"/>
    {% block title %}Accueil{% endblock %}
    <link rel="stylesheet" href={{ ('layout/css/compte.css') }}/>
    <link rel="stylesheet" href={{ ('layout/css/client.css') }}/>
    <link rel="stylesheet" href={{ ('layout/css/main.css') }}/>
</head>
<body>
<header>
    <nav>
        <h1>Banque Du <span style="color: aliceblue;">Peuple</span></h1>
    </nav>
</header>

<!--=========Debut sideBarre============-->
<aside class="sidebarre">
    <div class="flex">
        <img src={{ ('layout/img/profil.jpg') }} class="profil" alt="Banque du Peuple" srcset=""/>
        <p class="mail">xywzt@gmail.com</p>
        <div class="contener" style="background-color: rgb(85, 163, 231); color: white;">
            <a href="#">Dashboard</a>
        </div>
        <div class="contener">
            <a href="#">Compte</a>
        </div>
        <div class="contener">
            <a href="#">Client</a>
        </div>
        <div class="contener">
            Logout
        </div>
    </div>
</aside>
<!--=========Fin sideBarre============-->

<!--=========Contenu du body==========-->
<article class="content">
    {% block body %}

    {% endblock %}
</article>
<script src={{ ('layout/js/main.js') }}></script>
<script src={{ ('layout/js/client.js') }}></script>
<script src={{ ('layout/js/compte.js') }}></script>
</body>
</html>
